<plugin name='zui-jquery' version='1.7.2.0' grailsVersion='2.0 &gt; *'>
  <author>Zebu42</author>
  <authorEmail>Zebu42@gmail.com</authorEmail>
  <title>ZebUI JQuery Plugin</title>
  <description>http://jquery.com/</description>
  <documentation>https://github.com/zebu42/ZebUI/wiki</documentation>
  <type>ZuiJqueryGrailsPlugin</type>
  <resources>
    <resource>JQueryResources</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://grails.org/plugins' url='http://grails.org/plugins' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>